@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f9f9f9;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 15px;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.nav-section {
  display: flex;
  align-items: center;
}

.nav-left {
  margin-left: 15px;
}

.nav-center {
  flex: 1;
}

.nav-right {
  margin-right: 15px;
}

.logo-image {
  width: 100px;
}

.search-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.main-layout {
  display: flex;
  height: calc(100vh - 70px);
}

.sidebar {
  width: 250px;
  background-color: white;
  border-right: 1px solid #ddd;
  overflow-y: auto;
}

.links-container {
  padding: 15px;
}

.link-item {
  display: flex;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  color: black;
}

.link-item:hover {
  background-color: #f0f0f0;
}

.content {
  flex: 1;
  padding: 15px;
  background-color: #f9f9f9;
}

.videos {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.video {
  width: 270px;
  margin-bottom: 30px;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
}

.video img {
  width: 100%;
}

.video .details {
  padding: 10px;
}

.video .details .author img {
  width: 30px;
  border-radius: 50%;
  vertical-align: middle;
}

.video .details .title {
  margin-left: 10px;
}